* {
  background-color: black;
  /* color: white; */
  margin: 0;
  padding: 0;
}

/* Fonts Google */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  margin-right: 5px;
}

.material-symbols-sharp {
  font-variation-settings: 'FILL' 3, 'wght' 50, 'GRAD' 0, 'opsz' 48;
}

/* Header */
.header {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 40px;
}

.header__icon > p {
  display: none;
  font-size: 1em;
  position: relative;
}

/* Main Content */
.main > h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 90px;
  text-align: center;
}

/* Cards Wrap */
.main__cards-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin: auto;
  width: 260px;
}

/* Card */
.cards-wrap__card {
  margin: 10px 10px auto 10px;
  text-align: center;
  color: rgb(121, 121, 121);
}

.card--img-user {
  border: 5px solid transparent;
  max-height: 100px;
  max-width: 100px;
  min-height: 84px;
  min-width: 84px;
}

.card--img-user:hover {
  border-color: white;
}

.cards-wrap__card:hover p {
  color: white;
}

/* Responsive */
@media screen and (min-width: 601px) {
  .header__icon > p {
    display: inline-block;
  }

  .main__cards-wrap {
    justify-content: center;
    width: 100%;
  }

  span.material-symbols-sharp {
    display: none;
  }
}
